extends layout
block content
    form.center.width100.alignCenter
        h3 Name
        input#name(type='text', name='name')
        h3 Quantity
        input#quantity(type='text', name='quantity')
        button#submit Submit

    script(src="/javascripts/insertItem.js")