extends layout
block content
    form
        label(for='name') name
        input#name(type='text', name='name').input
        label(for='quantity') Quantity
        input#quantity(type='text', name='quantity')
    button#submit Submit

    script(src="/javascripts/insertItem.js")