extends layout

block content
    h3 hello, #{name}
    ul
        li
            a(href="/itemsblank") items page
            p what a correct items page should look like
        li
            a(href="/sqlite/items") sql items
            p items from the sql database
        li
            a(href="/mongo/items") mongo items
            p items from the mongo database
        li
            a(href="/mongo/log") mongo login
            p log in using users from the mongo database
        li
            a(href="/sqlite/log") sqlite login
            p log in using users from the sqlite database