extends layout

block content
    div.center.width100.alignCenter
        input(type="text" id="text").center
        button#submitButton search
    table.center
        thead
            tr
                th.alignRight ID#
                th.alignLeft Name
                th.alignLeft Quantity
        tbody#tbody
            -for(var i = 0;i< items.length;i++)
                tr
                    th.alignRight #{items[i].id || items[i].item_id}
                    th.alignLeft #{items[i].name || items[i].item_name}
                    th.alignLeft #{items[i].quantity}
    script(src="/javascripts/submit.js")