//
   Created by joe12 on 3/7/2017.

html
    head
        title databases
        link(href="./stylesheets/style.css" rel="stylesheet" type="text/css")
    body
        block content

        block footer